.slots {
    text-align: center;
    height: 400px;

    div#slot-1, div#slot-2 {
        display: inline-block;
        border: 5px solid #444;
        border-style: dashed;
        height: 310px;
        width: 310px;
        margin: 20px;
        vertical-align: top;

        .card {
            height: fit-content;
            background: white;
            margin: -5px -5px;

            .card-content{
background: cadetblue;
            }
            img {
                height: 257px;
                margin: 0 auto;
            }

            .card-body {
                padding: 10px;
                height: 40px;
                font-size: 24px;
                font-weight: 900px;
                color: #fff
            }

            &:hover {
                // to delete card from slot
                cursor: pointer;
                opacity: 0.8;
            }

            @media (max-width: 960px) {
                height: 210px;

                .card-image {
                    height: 150px;
                }
            }
        }

        @media (max-width: 960px) {
            height: 200px;
            width: 30%;
        }
    }
}
