$xlg: 1024px; // larger displays
$lg: 960px; // small laptop screens and large tablets
$md: 820px; // tablets
$sm: 578px; // large phones, small tablets
$xsm: 320px; // phones

.slots {
    text-align: center;

    div#slot-1, div#slot-2 {
        display: inline-block;
        border: 5px solid #444;
        border-style: dashed;
        min-height: 307px;
        width: 310px;
        margin: 20px;
        vertical-align: top;

        .card {
            height: fit-content;
            background: white;
            margin: -5px;

            .card-content{
                background: cadetblue;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%
            }
            img {
                height: 257px;
                margin: 0 auto;
            }

            .card-body {
                padding: 10px;
                height: 40px;
                font-size: 24px;
                font-weight: 900;
                color: #fff;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }

            @media (max-width: $md) {

                .card-image {
                    height: 150px;
                }
            }
        }

        @media (max-width: $md) {
            width: 200px;
            .card-content{
                img{
                    width: 200px;
                }
            }
        }
        @media (max-width: $sm) {
            min-height: 150px;
            width: 135px;
            .card-content{
                img{
                    height: 120px;
                    width: 135px;
                }
                .card-body{
                    font-size: 15px;
                    padding: 0 10px;
                }
            }
        }
        @media (max-width: $xsm) {
            width: 90px;
        }
    }
}
