.stats{
    display: flex;
    flex-wrap: wrap;
    .row{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        padding: 16px 20px 12px;
        margin: 5px -1px;

        .result-cont{
            display: flex;
            width: 100%;
        }
        .name{
            display: block;
            text-align: center;
            font-family: 'karla';
            font-size: 18px;
            width: 100%;
            padding: 5px;
        }
        .results{
            background: white;
            padding: 16px 20px 12px;
            box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
            display: inline-block;
            text-align: center;
            width: 50%;
        }

        .stat-box{
            background: white;
            margin: 0;
            padding: 0;
            box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
            .results{
                box-shadow: none;
            }
            .name{
                background: #232f34;
                color: #f9f9f9;
            }
        }
    }
}