@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

@import url("https://fonts.googleapis.com/css?family=Karla:400,700|PT+Sans:400,700|Source+Sans+Pro:400,700,900");

.characters {
    box-sizing: border-box;
    padding: 0 10px;
    outline: none;
}

html {
    background: #f5f5f5;
    font-family: 'PT Sans';
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
}

header {
    background: #232f34;
    color: white;
    padding: 20px;
    margin-bottom: 60px;
    .main-container{
        width: 100%;
    }
    a {
        color: white;
        text-decoration: none;
    }
}

.main-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;

    @media (max-width: 960px) {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    @media (min-width: 1540px) {
        max-width: 1200px;
    }
}

.slick-initialized {
    .slick-slide {
        width: fit-content;
    }
}

.slick-list {
    width: 88%;
    margin: 0 auto;
}

.slick-next, .slick-prev {
    width: 30px;
    height: 30px;
}

.slick-next:before, .slick-prev:before {
    font-size: 30px;
    color: #666;
}

img {
    // width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

img:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    height: 176px;
    width: 98%;
    background-color: rgb(235, 235, 235);
    border: 2px dotted rgb(200, 200, 200);
}

img:after {
    content: "🔗" " Broken Image of " attr(alt);
    font-size: 16px;
    font-style: normal;
    color: #646464;
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    top: 0;
}

p{
    font-family: 'Karla';
    font-size: 18px;   
    margin: 0;
}